@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';
@import '../../styles/abstracts/mixins';

.modal-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: $dark-color, $alpha: 0.4);
  @extend %flex-center-cont;
  align-items: center;
  opacity: 0;
  @extend %transition;
  pointer-events: none;
  cursor: pointer;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    position: relative;
    padding: 3rem;
    border-radius: 1.2rem;
    background-color: rgb(242 241 238);
    cursor: auto;
    transform: scale(0.5);
    @extend %transition;
    &.active {
      transform: scale(1);
    }
    @include media-big-mobile {
      padding: 1rem;
    }
  }
}

.close-btn {
  position: absolute;
  top: -0.3rem;
  right: 0.5rem;
  color: $background-color;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $dark-color;
  }
  @include media-tablet {
    font-size: 26px;
  }
  @include media-big-mobile {
    top: -2.7rem;
    right: -1.7rem;
  }
}
