@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';

.catalog {
  &__wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 111rem;
    margin: 0 auto;
    grid-gap: 1rem;
    padding: 1rem 0;

    @include media-laptop {
      grid-template-columns: repeat(2, 30rem);
      column-gap: 8%;
    }
    @include media-big-mobile {
      grid-template-columns: repeat(1, 30rem);
    }

    &.empty {
      display: flex;
      @extend %flex-center-cont;
    }
  }
}
