@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';

.cart {
  padding: 1.2rem 1rem 0;
  max-width: 111rem;
  margin: 0 auto;
  &__wrapper {
    @extend %flex-center-cont;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 2rem;
  }
}

.cart-table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid $border-color;
  width: 70%;

  &__head {
    border: 1px solid $border-color;
    height: 6rem;
    background-color: $muted-color;
    th {
      font-size: 1.6rem;
    }
  }

  &__body {
    td {
      align-items: center;
    }
  }

  &__row {
    border: 1px solid #7d7d7d;
    td {
      font-size: 1.8rem;
      padding: 1rem 0;
      text-align: center;
      img {
        max-height: 9rem;
      }
    }
  }
}

.total-table {
  width: 23%;
  height: 18rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid $border-color;

  &__head {
    height: 6rem;
    background-color: $muted-color;
    border: 1px solid $border-color;

    th {
      font-size: 2rem;
    }
  }

  &__body {
    background: #ededed;
    td {
      font-weight: 800;
      padding: 0 1rem;
    }
  }
}

.tables__wrapper {
  @extend %flex-center-cont;
  width: 100%;
  gap: 2rem;
}
