@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';

.categories {
  @extend %flex;
  flex-direction: column;
  padding: 7rem 1rem 0 3rem;
  width: 17%;
  &__title {
    font-size: 2.5rem;
    padding-left: 5px;
    margin-bottom: 2rem;
  }
  &__button {
    display: block;
    width: 15rem;
    background-color: $light-color;
    color: $border-color;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
    padding: 5px;
    &.active {
      background-color: $dark-color;
      color: $light-color;
      @extend %transition;
    }
  }
}
