@import '../../styles/abstracts/extends';
@import '../../styles/abstracts/mixins';
.promocode-section {
  padding-bottom: 4rem;
  @extend %flex-center-cont;
  &__main-image {
    max-width: 50%;
    height: 50%;
    @include media-laptop {
      max-width: 40%;
    }
    @include media-tablet {
      max-width: 40%;
    }
    @include media-small-tablet {
      max-width: 40%;
      max-height: auto;
    }
  }
  &__info {
    width: 35%;
    padding: 2rem;
    margin-top: 1rem;
    @include media-laptop {
      width: 40%;
      padding: 2rem;
      margin-top: 0;
    }
    @include media-small-tablet {
      width: 40%;
      padding: 2rem;
      margin-top: 0;
    }
    &-text {
      font-size: 3rem;
      margin-bottom: 2rem;
      text-align: center;
      letter-spacing: 0.05em;
      @include media-laptop {
        font-size: 2.5rem;
      }
      @include media-big-mobile {
        font-size: 2rem;
      }
      @include media-mobile {
        font-size: 1.5rem;
      }
    }
    &-button {
      width: 40%;
      @extend %flex;
      margin: 0 auto;
      margin-top: 2rem;
      @include media-laptop {
        margin-top: 0.5rem;
      }
      @include media-big-mobile {
        margin-top: 0.5rem;
      }
    }
  }
}
