$light-color: #ffffff;
$dark-color: #000000;
$add-dark-color: #333333;
$muted-color: #c4c4c4;
$button-color: #998431;
$border-color: #7d7d7d;
$background-color: #282828;
$border-light: 1px solid #d6d6d6;
$border-dark: 1px solid #000000;
$link-hover: #f1ede1 1px 0 10px;
$text-selection: #f0f0f0;
$color-error: #fb6542;
$color-success: #3f681c;

$tablet-small-width: 650px;

