$light-color: #ffffff;
$dark-color: #000000;
$add-dark-color: #333333;
$muted-color: #c4c4c4;
$button-color: #998431;
$button-hover-color: #c1a73f;
$border-color: #7d7d7d;
$background-color: #282828;
$border-light: 1px solid #d6d6d6;
$border-dark: 1px solid #000000;
$link-hover: #f1ede1 1px 0 10px;
$text-selection: #f0f0f0;
$color-error: #fb6542;
$color-sale: #ff0000;
$color-success: #3f681c;
$wrapper-width: 111rem;

$laptop-big-width: 1920px;
$laptop-width: 1240px;
$laptop-small-width: 1000px;
$tablet-big-width: 810px;
$tablet-width: 768px;
$tablet-small-width: 650px;
$mobile-big-width: 555px;
$mobile-width: 435px;
