$light-color: #FFFFFF;
$dark-color: #000000;
$add-dark-color: #333333;
$muted-color: #C4C4C4;
$button-color: #998431;
$border-color: #7D7D7D;
$background-color: #282828;
$border-light: 1px solid #D6D6D6;
$border-dark: 1px solid #000000;
