@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';

.product-card {
  position: relative;
  max-width: 30rem;
  border: $border-dark;
  @extend %flex-j-cont;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;
  @extend %transition;

  &:hover {
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.3);
  }

  &:hover &__price {
    background-color: $border-color;
  }

  &:hover &__image {
    transform: scale(1.07);
  }

  &__image-wrap {
    width: 100%;
    text-align: center;
    background-color: $light-color;
    overflow: hidden;
  }

  &__image {
    height: 22rem;
    @extend %transition;
  }

  &__description {
    padding: 0 1rem 1rem;
    font-size: 1.5rem;
    line-height: 120%;
    font-style: italic;
    text-align: center;
  }

  &__icons {
    position: absolute;
    top: 1.5rem;
    right: 1.4rem;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    padding: 0.5rem;
    margin-bottom: 1.2rem;
    background-color: inherit;
    border: solid 1px #d6d6d6;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    @extend %transition;
  }

  &__price {
    padding: 1rem 2rem;
    margin-bottom: 1px;
    font-size: 1.8rem;
    background-color: $add-dark-color;
    color: $light-color;
    @extend %transition;
  }
}
