@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';
.registration-form__wrapper {
  width: 35%;
  margin: 0 auto;
  background-color: $light-color;
  .registration-form {
    width: 100%;
    padding: 1rem;
    border: $border-dark;
    &__title {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    &__address {
      width: 90%;
      margin-top: 1 rem;
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
    }
    .address__country {
      display: block;
      width: 100%;
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
      .star {
        color: red;
      }
      &-select {
        width: 100%;
        margin-top: 0.5rem;
      }
    }
    input {
      width: 100%;
      padding: 0.5rem 0;
      margin: 0.2rem 0;
      box-sizing: border-box;
      border-bottom: $border-dark;
      &:focus {
        border: $border-dark;
      }
    }
    &__customer-info {
      label {
        font-size: 1.4rem;
      }
    }
    &__button {
      width: 170px;
      display: block;
      padding: 1rem 2rem;
      margin: 0 auto;
      background-color: $background-color;
      color: $light-color;
      transition: all 0.3s;
      &:hover {
        background-color: $dark-color;
      }
      &:disabled {
        background-color: $muted-color;
      }
      &:active {
        @extend %click-btn;
      }
    }
    .input-error {
      width: 90%;
      color: red;
      font-size: 1rem;
      margin-bottom: 0.1 rem 0 0.8rem 0;
    }
  }
}
