@import "../../styles/abstracts/constants";
@import "../../styles/abstracts/extends";

.login-form {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 2rem;
  width: 30rem;

  border: $border-dark;

  &__title {
    margin-bottom: .5rem;
  }
  &__input {
    margin-bottom: 2rem;

    &:focus {
      border-bottom: $border-dark;
    }
  }

  &__password-wrap {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  &__password-btn {
    width: 26%;
    border-radius: .3rem;
    transition: all .3s;

    &:hover {
      background-color: $muted-color;
    }

    &:active {
      @extend %click-btn;
    }
  }

  &__submit-btn {
    width: 30%;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: $background-color;
    color: $light-color;
    transition: all .3s;

    &:hover {
      background-color: $dark-color;
    }

    &:active {
      @extend %click-btn;
    }
  }

  
}