@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';

.login-form {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 2rem;
  width: 30rem;

  border: $border-dark;

  &__title {
    margin-bottom: 0.5rem;
  }
  &__input {
    margin-bottom: 2rem;

    &:focus {
      border-bottom: $border-dark;
    }
  }

  &__error {
    margin-top: -2rem;
    margin-bottom: 1.2rem;
    font-size: 0.8rem;
    color: red;
    max-width: 18rem;
  }

  &__password-wrap {
    display: flex;
    height: 1.68rem;
    align-items: flex-start;
    gap: 2.5rem;
    margin-bottom: 2rem;
  }

  &__password-btn {
    width: 26%;
    border-radius: 0.3rem;
    transition: all 0.3s;

    &:hover {
      background-color: $muted-color;
    }

    &:active {
      @extend %click-btn;
    }
  }

  &__submit-btn {
    width: 30%;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: $background-color;
    color: $light-color;
    transition: all 0.3s;

    &:hover {
      background-color: $dark-color;
    }

    &:active {
      @extend %click-btn;
    }
  }

  &__text {
    margin-top: 1.5rem;
  }

  &__link {
    color: $dark-color;
    padding: 0.5rem;
    margin-left: 0.8rem;
    cursor: pointer;
    background-color: $text-selection;
    border-radius: 0.3rem;
    @extend %transition;
    &:hover {
      background-color: $muted-color;
    }
  }
}

