@import '../../../styles/abstracts/constants';
@import '../../../styles/abstracts/extends';

.cart-empty {
  @extend %flex-center-cont;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;

  &__image {
    width: 80%;
    max-height: 40rem;
    margin: 2rem 0;
    opacity: 0.85;
  }

  &__text {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
  }
}

.catalog-link {
  margin-top: 2rem;
  span {
    margin-right: 1rem;
    font-size: 2rem;
    color: $add-dark-color;
    font-weight: 800;
  }
  button {
    width: 12rem;
    height: 4rem;
  }
}
