@import '../../styles/abstracts/constants';

.profile__address-container {
  margin-top: 1rem;
  .profile-field__input {
    display: block;
  }
  .button {
    padding: 5px 15px;
    margin-bottom: 1rem;
    margin-right: 5px;
    &-edit {
      background-color: $muted-color;
      margin-left: 80%;
      &:hover {
        background-color: $border-color;
      }
    }
  }
}
