@import '../../styles/abstracts/constants';

.form__registration {
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    border: $border-dark;
    &-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .customer__info {
        label {
            font-size: 16px;
        }
    }
    .address__title {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 700;
    }
    label {
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 700;
        input {
            width: 100%;
            padding: 8px 10px;
            margin: 8px 0;
            box-sizing: border-box;
            border-bottom: $border-dark;
        }
    }
    .registration__button {
        width: 170px;
        display: block;
        padding: 10px;
        margin: 0 auto;
        background-color: $add-dark-color;
        color: $light-color;
    }
}