@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';
@import '../../styles/abstracts/mixins';

.member-card {
  @extend %flex;
  flex-direction: column;
  align-items: center;
  min-width: 33rem;
  width: 34rem;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border: $border-light;
  border-radius: 1rem;
  user-select: none;
  cursor: pointer;
  @extend %transition;

  &:hover {
    background-color: $text-selection;
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.3);

    .member-card__photo {
      transform: scale(105%);
    }
  }

  &__photo {
    @extend %flex-center-cont;
    align-items: center;
    width: 25rem;
    height: 25rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    overflow: hidden;
    @extend %transition;
  }

  &__name {
    font-size: 3rem;
    margin-bottom: 1.1rem;

    &:hover {
      border-bottom: $border-dark;
      margin-bottom: 1rem;
    }

    a {
      color: $dark-color;
    }

    img {
      width: 3rem;
      margin-left: 1rem;
    }
  }

  &__role {
    color: $add-dark-color;
    font-style: italic;
    margin-bottom: 3rem;
  }

  &__bio {
    text-align: center;
    line-height: 2.2rem;
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    @extend %flex-center-cont;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    h3 {
      color: $color-sale;
      margin-bottom: 1rem;
    }

    p {
      max-width: 50%;
      color: $light-color;
      font-size: 2rem;
      line-height: 2.7rem;
      text-decoration: underline;
      text-align: center;
    }
  }
}
