.promocode {
  display: flex;
  width: 720px;
  align-items: center;
  height: 60px;
  &__input {
    font-size: 16px;
    line-height: 20px;
    padding-left: 20px;
    width: 260px;
    height: 40px;
    margin-left: 22px;
    margin-right: 10px;
    background: #ffffff;
    border: 1px solid #d6d6d6;
  }
  &__button {
    width: 225px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #333333;
    cursor: pointer;
    &:disabled {
      background-color: rgba(51, 51, 51, 0.3);
    }
  }
}
