@import '../../styles/abstracts/constants';

.header {
  background-color: black;
  &__wrapper {
    padding-top: 12px;
    max-width: 1110px;
    margin: 0 auto;
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__links {
    margin-right: 12px;
    cursor: pointer;
    &:last-child {
      margin-right: 0; 
    }
  }
}


