@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';
@import '../../styles/abstracts/mixins';

.about-us {
  @extend %flex-center-cont;
  flex-direction: column;
  padding: 5rem 2rem 2rem;

  &__title {
    margin-bottom: 4rem;
    color: #000;
    text-align: center;
    font-size: 7rem;
  }

  &__members {
    .members {
      &__wrap {
        @extend %flex-center-cont;
        gap: 10%;
        flex-wrap: wrap;
        margin-bottom: 2rem;
      }
    }
  }

  &__collaboration {
    padding: 2rem;

    .collaboration {
      &__text {
        margin-bottom: 2rem;
        font-size: 2rem;
        line-height: 120%;
      }
    }
  }

  &__logo {
    width: 20rem;
    margin: 0 auto;
    @extend %transition;

    &:hover {
      transform: scale(105%);
    }
  }
}

.subtitle {
  margin-bottom: 3rem;
  text-align: center;
  color: $color-sale;
}
