@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';
@import '../../styles/abstracts/mixins';

.nav {
  @extend %transition;
  &__list {
    width: 100%;
    height: 6rem;
    @extend %flex-j-cont;
    border-top: $border-light;
  }
  &__item {
    height: 6rem;
    width: 100%;
    @extend %flex-center-cont;
    align-items: center;
    border-left: $border-light;
    &:first-child {
      border-left: none;
    }
  }
  &__link {
    font-size: 14px;
    color: $light-color;
    transition: all 0.3s ease;
    &:hover {
      text-shadow: $link-hover;
    }
    &.active {
      text-shadow: $link-hover;
    }
    &:last-child {
      @include media-small-tablet {
        margin-left: 0.7rem;
      }
    }
  }

  @media (max-width: 768px) {
    &__link {
      font-size: 12px;
    }
  }

  @media (max-width: 455px) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $background-color;
    opacity: 0.9;
    z-index: 1;
    transform: translateX(100%);

    &__list {
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      border: none;
    }

    &__item {
      border: none;
      margin-bottom: 2rem;
    }

    &__link {
      font-size: 4rem;
    }
  }
}

.nav_active {
  transform: translateX(0%);
}
