@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/constants';
@import '../../styles/abstracts/extends';

.things {
  height: 90rem;
  background: url(../../assets/images/things_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__wrapper {
    @extend %flex-center-cont;
    align-items: center;
    flex-direction: column;
    padding: 1.2rem 1rem 0;
    max-width: $wrapper-width;
    margin: 0 auto;
  }
  &__title {
    max-width: 70rem;
    line-height: 150%;
    text-align: right;
    margin: 6rem 0 4rem 0;
    @include media-laptop {
      margin: 4rem 0 3rem 0;
    }
    @include media-small-laptop {
      max-width: 60rem;
      line-height: 120%;
    }
    @include media-big-mobile {
      max-width: 50rem;
      margin: 3rem 0 1rem 0;
    }
  }
  &__text {
    font-size: 3.2rem;
    color: $muted-color;
    text-align: right;
    width: 70rem;
    @include media-small-laptop {
      font-size: 2.5rem;
      width: 60rem;
    }
    @include media-big-mobile {
      font-size: 2rem;
      width: auto;
    }
  }
  &__button {
    font-size: 1.6rem;
    font-family: 'Montserrat', Georgia, serif;
    width: 20rem;
    height: 6rem;
    color: $light-color;
    background-color: $button-color;
    @include button($button-hover-color);
    @include media-small-laptop {
      width: 18rem;
      height: 5rem;
    }
    @include media-big-mobile {
      width: 15rem;
      height: 4rem;
    }
  }
  &__buttons {
    @extend %flex-j-cont;
    max-width: 57rem;
    width: 100%;
    margin-top: 7rem;
    @include media-laptop {
      margin-top: 4rem;
    }
    @include media-big-mobile {
      max-width: 40rem;
      margin-top: 2rem;
    }
    @include media-mobile {
      margin-top: 4rem;
    }
  }
  @include media-big-laptop {
    background-size: contain;
  }
}
