@import '../abstracts/extends';
@import '../../styles/abstracts/mixins';

body {
  font-family: 'Marcellus', Georgia, serif;
}

html {
  font-size: 10px;

  @media (max-width: 768px) {
    font-size: 7px;
  }
}

#root {
  width: 100%;
  height: 100%;
  @extend %flex-j-cont;
  flex-direction: column;
}

h1 {
  font-size: 9.6rem;
  color: $light-color;
  @include media-laptop {
    font-size: 8rem;
  }
  @include media-small-laptop {
    font-size: 6rem;
  }
  @include media-mobile {
    font-size: 3rem;
  }
}
